@import "../../../styles/mixins.scss";

.emociones {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @include respond-to("mobile") {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding-bottom: 2rem;
  }
}
